<div class="itemContainer" *ngIf="componentIsReadyToDisplay">
  <div class="itemImageContainer">
    <img src="{{ merchandise.getMerchandiseImage() }}" alt="{{ merchandise.getMerchandiseName() }}">
  </div>
  <div class="itemNameContainer">
    {{ merchandise.getMerchandiseName() }}
  </div>
  <div class="itemPriceContainer">
    &euro; {{ merchandise.getMerchandisePrice() }} (per Unit)
  </div>
  <div class="itemAmountContainer">
    x{{ order.getOrderItemAmount() }}
  </div>
  <div class="deliveryDateContainer">
    Delivered on:&nbsp;&nbsp;&nbsp;{{ order.getOrderDelivery() | date}}
  </div>
</div>
