<app-header></app-header>
<div id="itemContentContainer" *ngIf="componentIsReadyToDisplay">
  <div id="itemInfoLeft">
    <h2>{{ merchandise.getMerchandiseName() }} ({{ merchandise.getMerchandiseType() }})</h2>
    <div id="itemShadowGiver"></div>
    <img src="{{ merchandise.getMerchandiseImage() }}" alt="{{ merchandise.getMerchandiseName() }}">
  </div>
  <div id="itemInfoRight">
    <div id="animatorBar">
      <img src="{{ animator.getAnimatorImage() }}" alt="animator.getAnimatorName()">
      <div id="animatorBarRight">
        <h3>{{ animator.getAnimatorName() }}</h3>
        <a href="{{ animator.getAnimatorLink() }}" target="_blank">Click to watch on Youtube</a>
      </div>
    </div>
    <p>{{ merchandise.getMerchandiseDescription() }}</p>
    <div id="itemPrice"><h6>&euro; {{ merchandise.getMerchandisePrice() }}</h6></div>
    <div class="yamsButton" (click)="addToCard()">Add to cart</div>
  </div>
</div>
