<div class="itemContainer" *ngIf="componentIsReadyToDisplay">
  <div class="itemImageContainer">
    <img src="{{ merchandise.getMerchandiseImage() }}" alt="{{ merchandise.getMerchandiseName() }}">
  </div>
  <div class="itemNameContainer">
    {{ merchandise.getMerchandiseName() }}
  </div>
  <div class="itemPriceContainer">
    &euro; {{ merchandise.getMerchandisePrice() }} (per Unit)
  </div>
  <div class="itemAmountContainer">
    <form (ngSubmit)="updateMerchandiseAmount(f)" #f="ngForm">
      <input name="itemAmount" type="number" [(ngModel)]="merchandiseAmount">
      <button value="Update" class="yamsButton" type="submit">Update</button>
    </form>
  </div>
  <div class="itemRemoveContainer">
    <form (ngSubmit)="removeBasket(f)" #f="ngForm">
      <button value="Remove item" class="redYamsButton" type="submit">Remove item</button>
    </form>
  </div>
</div>
